@import "app/main-header";
@import "app/posts";

.vbtn {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1px;
}

.vbtn.big {
    display: inline-block;
    width: 86px;
    height: 86px;
    padding: 10px;
    line-height: 1rem;
    font-size: 0.8em;

    > .outer {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 1px solid salmon;
        padding: 4px;

        > .inner {
            width: 30px;
            height: 30px;
            border: 1px solid salmon;
        }
    }
}
