#main-header {
  border-bottom: 0.2em solid;
}

#main-header .title {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 0.95em;
}

#main-header .title > img {
  width: 200px;
  height: auto;
}

#main-header .title > .sub-title {
  opacity: 0.9;
  line-height: 1.1em;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: normal;
}

@media (min-width: 576px) {
  #main-header .title {
    font-size: 32px;
  }
}

#main-header a.nav-link {
  color: #99ffff;
  font-size: 25px;
  font-weight: 400;
  vertical-align: middle;
  width: 25px;
}

#main-header > svg {
  position: absolute;
  top: 99%;
  left: 0;
  fill: #993399;
}

#header-post-bar {
  position: relative;
  top: 0;
  width: 100%;
  transition: all 0.3s;
  border-bottom: 0.2em solid;
  margin-bottom: 2em;
}

#header-post-bar .posted-by {
  font-size: 19px;
}

#header-post-bar .posted-by .user {
  font-style: italic;
}

#header-post-bar .posted-by .pfp {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
}

#header-post-bar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 3px 19px 8px rgba(0, 0, 0, 0.35);
}

#header-post-bar.sticky {
  padding-top: 60px;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}

.vbtn {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1px;
}

.vbtn.big {
  display: inline-block;
  width: 86px;
  height: 86px;
  padding: 10px;
  line-height: 1rem;
  font-size: 0.8em;
}

.vbtn.big > .outer {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid salmon;
  padding: 4px;
}

.vbtn.big > .outer > .inner {
  width: 30px;
  height: 30px;
  border: 1px solid salmon;
}

