//
#main-header {
    border-bottom: 0.2em solid;

    .title {
        font-size: 24px;
        letter-spacing: 0.1em;
        line-height: 0.95em;

        > img {
            width: 200px;
            height: auto;
        }

        > .sub-title {
            opacity: 0.9;
            line-height: 1.1em;
            font-size: 16px;
            font-style: italic;
            font-weight: 500;
            letter-spacing: normal;
        }
    }
    @media (min-width: 576px) {
        .title {
            font-size: 32px;
        }
    }

    a.nav-link {
        color: #99ffff;
        font-size: 25px;
        font-weight: 400;
        vertical-align: middle;
        width: 25px;
    }

    > svg {
        position: absolute;
        top: 99%;
        left: 0;
        fill: #993399;
    }
}
