#header-post-bar {
    position: relative;
    top: 0;
    width: 100%;
    transition: all 0.3s;
    border-bottom: 0.2em solid;
    margin-bottom: 2em;

    .posted-by {
        font-size: 19px;

        .user {
            font-style: italic;
        }
        .pfp {
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-weight: bold;
        }
    }
}

#header-post-bar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 1px 3px 19px 8px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 3px 19px 8px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 3px 19px 8px rgba(0, 0, 0, 0.35);
}

#header-post-bar.sticky {
    padding-top: 60px;
}
.breadcrumb {
    background-color: transparent;

    .breadcrumb-item + .breadcrumb-item::before {
        content: ">" !important;
    }
}
