body {
  background-color: #514168;
}

.vbtn {
  box-shadow: 0 -1px 0 1px #694d8a;
  background: #452868;
  color: #fff;
}

#main-header,
#header-post-bar {
  background-color: #3b2162;
  border-bottom-color: #2e1a35;
}

#main-header .title,
#header-post-bar .title {
  color: white;
}

#header-post-bar .posted-by {
  color: rgba(255, 255, 255, 0.5);
}

#header-post-bar .posted-by .pfp {
  background-color: #673095;
  color: white;
}

#header-post-bar .posted-by .user {
  color: #d67145;
}

#header-post-bar .votes {
  background-color: #351d4f;
  color: white;
}

