body {
    background-color: #514168;
}
.vbtn {
    box-shadow: 0 -1px 0 1px #694d8a;
    background: #452868;
    color: #fff;
}
#main-header,
#header-post-bar {
    background-color: #3b2162;
    border-bottom-color: #2e1a35;

    .title {
        color: white;
    }
}
#header-post-bar {
    .posted-by {
        color: rgba(
            $color: (
                #fff
            ),
            $alpha: 0.5
        );

        .pfp {
            background-color: #673095;
            color: white;
        }

        .user {
            color: #d67145;
        }
    }

    .votes {
        background-color: #351d4f;
        color: white;
    }
}
